---
AccessModifierOffset: '-4'
AlignTrailingComments: 'true'
AllowAllConstructorInitializersOnNextLine: 'true'
AllowShortBlocksOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: InlineOnly
AlwaysBreakTemplateDeclarations: 'Yes'
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ColumnLimit: '120'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'false'
IndentPPDirectives: BeforeHash
IndentWidth: '4'
IndentWrappedFunctionNames: 'true'
PointerAlignment: Left
SortIncludes: 'false'
TabWidth: '4'
UseTab: Always

...
